<nav class="navbar container">
  <div class="nav-left">
    <ul class="nav-links">
      <li><a href="/portfolio/index.html">Projects</a></li>
      <li><a href="/portfolio/about.html">About</a></li>
      <li><a href="/portfolio/resume.html">Resume</a></li>
    </ul>
  </div>
  <div class="nav-center">
    <a href="/portfolio/index.html" class="site-title">Lukas Kahmann</a>
  </div>
  <div class="nav-right">
    <a href="https://www.linkedin.com/in/lukas-kahmann/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/LukasKahmann" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://lukaskahmann.itch.io/" target="_blank" title="itch.io"><i class="fab fa-itch-io"></i></a>
    <a href="mailto:kahmann.lukas@gmail.com" title="Mail"><i class="fas fa-envelope"></i></a>
  </div>
</nav>
