<header>
  <header>
  <nav class="navbar">
    <div class="nav-logo-container">
      <img src="assets/logo.png" alt="LK Logo" class="nav-logo" />
    </div>
    <ul class="nav-links nav-left"></ul>
    <div class="nav-center-absolute"><a href="#" class="site-title">Lukas Kahmann</a></div>
    <div class="nav-right"></div>
  </nav>
</header>
    <div class="nav-right">
      <a href="https://www.linkedin.com/in/lukas-kahmann/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/LukasKahmann" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
      <a href="https://lukaskahmann.itch.io/" target="_blank" title="itch.io"><i class="fab fa-itch-io"></i></a>
      <a href="mailto:kahmann.lukas@gmail.com" title="Mail"><i class="fas fa-envelope"></i></a>
    </div>
  </nav>
</header>
